{% extends "index.html" %}

{% block titulo %}materiales — Mi Web{% endblock %}

{% block hero %}{% endblock %}

{% block contenido %}

<link rel="stylesheet" href="{{ url_for('static', path='css/apartados.css') }}">

<nav class="barra_sub">
    <a href="/materiales"><button class="button_nav">Materiales</button></a>
    <a href="/salubridad"><button class="button_nav">Salubridad</button></a>
    <a href="/tecnicas"><button class="button_nav">Tecnicas</button></a>
</nav>


<a href="/"><button class="button_nav">⬅ Volver al inicio</button></a>

<h1>Materiales para hacerte tus uñas desde casa 😼</h1>

<p>
    1. Preparación<br><br>
    -Limas: una 180 (forma) y una Buffer (pulir).<br>
    -Empujador de cutícula o palitos de naranjo.<br>
    -Alcohol o Cleanser con toallitas de algodón (que no suelten pelusa).<br><br>

    2. Aplicación<br><br>
    Primer/Deshidratador (para adherencia).<br>
    -Base Coat.<br>
    -Esmaltes de color.<br>
    -Top Coat (brillo final).<br><br>

    3. Equipo y Acabado<br><br>
    -Lámpara LED/UV.<br>
    -Aceite de cutícula (para el toque final).
</p>

<div class="final">
    <img src="../static/imagenes/materiales.webp" alt="uñas">
</div>

{% endblock %}