<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" href="../static/css/apartados.css">

</head>
<body>
    <h1>Materiales para hacerte tus uñas desde casa. 😼
</h1>

 <p>
    1. Preparación<br><br>
     -Limas: unaa 180 (forma) y una Buffer (pulir).<br>

    -Empujador de cutícula o palitos de naranjo.<br>

    -Alcohol o Cleanser con toallitas de algodón (que no suelten pelusa).<br><br>

2. Aplicación<br><br>
Primer/Deshidratador (para adherencia).<br>

-Base Coat.<br>

-Esmaltes de color.<br>

-Top Coat (brillo final).<br><br>

3. Equipo y Acabado<br><br>
-Lámpara LED/UV.<br>

-Aceite de cutícula (para el toque final).</p>

<img src="../static/imagenes/materiales.webp" alt = "uñas">
</body>
</html>