<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" href="../static/css/apartados.css">


</head>
<body>
    <h1>Salubridad para la manicura en casa. ❤️‍🩹</h1>
    <p>Desinfección de herramientas: Limpia tus limas, empujadores y pinceles con alcohol al 70% antes y después de cada uso.<br><br>

Higiene de manos: Lava bien tus manos (o las de tu modelo) y aplica un sanitizante para evitar infecciones bajo el producto.<br><br>

No compartir limas: Las limas de cartón son porosas y acumulan bacterias; lo ideal es que cada persona tenga la suya.</p>

<a href="../index.html"> <button class="button_nav">Regresar</button></a>

<img src="../static/imagenes/salubridad.webp" alt = "uñas">

</body>
</html>