<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" href="../static/css/apartados.css">

</head>
<body>

    <h1>
        Tecnicas de debes de aplicas para una perfecta aplicacion. 😼
    </h1>
   <p> Sellado de borde libre: Pasa el pincel horizontalmente por el borde de la punta de la uña en cada capa. Esto evita que el esmalte se levante o se "encoja".<br><br>

La Regla de los 3 trazos: Deposita una gota cerca de la cutícula, empújala suavemente hacia atrás (sin tocar la piel) y desliza hacia el centro, luego un trazo a la izquierda y uno a la derecha.<br><br>

Capas delgadas: Es mejor aplicar dos capas finas que una gruesa. Si la capa es muy gorda, el esmalte se arruga o se desprende rápido.<br><br>

Control del pincel: Mantén el pincel a un ángulo de 45°. Si lo aplanas mucho, barres el color; si lo pones muy vertical, dejas surcos.<br><br>

Limpieza inmediata: Si llegas a tocar la piel, limpia el exceso con un palito de naranjo antes de meter la mano a la lámpara. Una vez seco, es mucho más difícil de quitar.<br><br>

   </p>
   <img src="../static/imagenes/tecnica.webp" alt = "uñas">
</body>
</html>